<!DOCTYPE html>
<html ng-app="cameraApp">
  <head>
    <meta charset="utf-8">
    <title>Camera View</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
  </head>
  <body ng-controller="cartManagerCtrl as cartManager">
    <div class="container">
      <header>
        <h1>Camera Shop</h1>
      </header>
      <main ng-controller="itemCatalogCtrl as itemCatalog">

        <div class="row">
          <div class="col s12 m8">
            <div class="row">
              <div class="col s8 input-field">
                <input type="text" placeholder="Search here" ng-model="itemCatalog.search">
              </div>
              <div class="col s4 input-field">
                <select ng-model="itemCatalog.dropDown">
                  <option value="name" >Name</option>
                  <option value="rating">Rating</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="card blue-grey">
              <div class="card-content white-text">
                <span class="card-title">Your Cart</span>
              </div>
                <ul class="green-text">
                  <p ng-repeat="item in cartManager.itemsInCart track by $index">{{item.quantity}} {{item.name}}<button>X</button></p>
                </ul>
              <div class="white-text">
                <p>subtotal</p>
                <p class="right-align"> {{cartManager.subtotal | currency}}</p>
              </div>


              <div class="white-text">
                <p>tax</p>
                <p class="right-align"> 2.3</p>
              </div>
              <div class="white-text">
                <p>total</p>
                <p class="right-align"> so much</p>
              </div>
              <div class="card-action">
                <a href="#">Checkout</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <ul ng-repeat="camera in itemCatalog.cameras | orderBy:itemCatalog.dropDown | filter:itemCatalog.search" >
            <h3>{{camera.name}}</h3>
            <img ng-src="{{camera.image}}"/>
            <h4 ng-if="camera.onSale" style="color:green">{{camera.price | currency}} ON SALE!!</h4>
            <h4 ng-if="!camera.onSale">{{camera.price | currency}}</h4>
            <p>Rating: {{camera.rating | astericks}}</p>
            <a class="waves-effect waves-light btn" ng-click="cartManager.addItem(camera)">Add to Cart</a>
            <hr>
          </ul>
        </div>
      </main>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="controllers.js"></script>
  </body>
</html>
